executable/
units/
source/backup/
distributable
install/x86_64-linux/packaging-tutorial.en.pdf
install/x86_64-linux/backup/
install/debian/stew-gui-linux
install/debian/stew-gui-linux.debhelper.log
install/debian/stew-gui-linux.substvars
source/stewgui.lps
source/stewgui.res
