[Desktop Entry]
Version=1.0
Name=Stew
Comment=Stew Manuscript Manager
Icon=stew-gui.png
Categories=Office;
Exec=stew-gui
Hidden=false
Terminal=false
Type=Application
X-Desktop-File-Install-Version=0.20