Source: stew-gui-linux
Section: editors
Priority: optional
Maintainer: Neil M. Sheldon <neilmsheldon@townsedgetechnology.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: https://github.com/user4815162342/stew-gui
Vcs-Git: git:github.com:user4815162342/stew-gui.git
Vcs-Browser: https://github.com/user4815162342/stew-gui

Package: stew-gui-linux
Architecture: any
# Also need xdg-open and xdg-user-dir commands.
Depends: xdg-utils, xdg-user-dirs, ${shlibs:Depends}, ${misc:Depends}
Description: Manuscript organization and management tool.
 Stew is an organization system to aid authors in the creation of manuscripts.
 It is designed to give the user options and tools to organize his or her
 project without making unnecessary requirements. It allows the user to
 organize files, including chapters or passages of the manuscript as well 
 as associated files like research notes and task lists. These documents
 can be placed into an appropriate order within folders, ensuring that
 your chapter one will always come before chapter two. And, attributes
 can be set on each document which can be used to visualize it's importance,
 and aid in maintaining a workflow.
 .
 Stew is designed to be both cross-platform and future-proof from the start.
 .
 Rather than maintain a monolithic data file, Stew makes use of the 
 computer's filesystem, which is already perfectly suited for the task of
 storing files in a hierarchical manner. It stores attributes which the
 file system can't handle in easily readable plain-text files alongside 
 the document files themselves. This means that it is fairly easy to make 
 use of the data even if one doesn't have Stew available -- such as when
 the data is backed up to a cloud file storage system and being edited 
 from another machine.
 .
 Rather than try to re-invent a word processor, which has already been
 done successfully at least four times in the history of computing,
 Stew allows you to make use of your own, preferred editors for your
 documents. This way, if you've already got your macros and spell 
 check set up exactly the way you want them, and you already know how
 to do what you need to do, you don't have to try to figure out how
 to do it in a new system. In fact, you don't even need to edit your
 files in a word processor, you could use a text editor, or even a 
 drawing program. Stew doesn't care.